
 
  <% @users.each do |user| %>
  <p>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <%= link_to "edit", {:controller => "normal_user", :action => "editbar", :id => user.id }%>
    </tr>
  </p>
  <% end %>