<p>
  <strong>Title:</strong>
  <%= @article.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.email %>
</p>
<%= link_to "edit", :controller => "normal_user", :action => "editbar",:id => @article.id %> |
